@keyframes myfirst{
	0% {
		-webkit-transform: translateY(316px);
		transform: translateY(316px)
	}
	100% {
		-webkit-transform: translateY(0);
		transform: translateY(0)
	}
}

@keyframes mysecond{
	0% {
		-webkit-transform: translateY(0);
		transform: translateY(0)
	}
	100% {
		-webkit-transform: translateY(316px);
		transform: translateY(316px)
	}
}

.hide{
	display: none;
}

.weekend{
	color: orange;
}

.weekend .calendar-td-inner.day-grayed,
.weekend .calendar-td-inner.disable{
	color: #F5D79F;
}

.my-calendar-outer.active{
    z-index: 99999;
    position: relative;
    top: -100%;
    height: 100%;
}

.month-switch-bar-wrap{
	position: relative;
	z-index: 999;
}

.my-calendar-mobile-mask{
	position: absolute;
    display: none;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    z-index: 9998;
}

.calendar-wrap{
    position: fixed;
    width: 100%;
    background: white;
    bottom: 0;
    box-shadow: 0 0 5px #ccc;
    visibility: hidden;
    z-index: 9999;

    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}

.calendar-wrap.open{
	animation: myfirst .3s ease-out;
	-webkit-animation: myfirst .3s ease-out;
}

.calendar-wrap.close{
	animation: mysecond .3s ease-out;
	-webkit-animation: mysecond .3s ease-out;
}

.month-switch-bar{
    position: absolute;
    font-size: 14px;
    height: 44px;
    width: 44px;
    text-align: center;
    line-height: 44px;
}

.month-switch-bar.month-left{
	left: 0;
}

.month-switch-bar.month-right{
    right: 0;
}

.calendar-title{
	position: relative;
    font-size: 18px;
    overflow: hidden;
    height: 44px;
    line-height: 44px;
}

.calendar-title:after{
    content: '';
    transform-origin: 50% 100%;
    border-bottom: 1px solid rgba(189, 188, 188, 0.5);
    width: 100%;
    height: 0;
    transform: scaleY(0.5);
    position: absolute;
    left: 0;
    bottom: 0;
}

.calendar-title-inner{
    overflow: hidden;
    margin: auto;
    width: 120px;
}

.calendar-title-year{
    float: left;
    width: 70px;
    text-align: center;
}

.calendar-title-month{
    float: left;
    width: 50px;
    text-align: center;
}

.calendar-title-week{
    overflow: hidden;
    margin: 10px 0;
    color: #999;
}

.calendar-title-week > div{
    float: left;
    width: 14.2857%;
    text-align: center;
}

.calendar-body-outer{
    overflow: hidden;
    margin-bottom: 5px;
}


.calendar-month-item,
.calendar-year-item{
    float: left;
    font-size: 14px;
    width: 25%;
    text-align: center;
    height: 50px;
    line-height: 50px;
}


.mcm-month-inner{
    /*background: white;*/
}

.mcm-month-row{
    overflow: hidden;
    margin: 10px 0;
}

.mcm-month-row:first-child{
    margin-top: 0;
}

.mcm-month-td{
    float: left;
    width: 14.2857%;
    text-align: center;
}

.calendar-day-num{
    width: 28px;
    height: 28px;
    line-height: 28px;
    margin: auto;
    border-radius: 50%;
    /*background: beige;*/
}

.calendar-td-inner.day-grayed,
.calendar-td-inner.disable{
    color: #a7a7a7;
}

.calendar-td-inner.checked .calendar-day-num{
    background: orange;
    color: white;
}

.calendar-td-addon-wrap{
}